<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="layout :: htmlhead">

</head>

<body>
    <header th:replace="layout :: header"></header>

    <style>
        #div-agenda-eventos {
            max-width: 900px;
            margin: 0 auto;
        }
    </style>
    <!-- Page Content -->
    <div class="content container">
        <section class="sectionTitlePage">
            <div class="container">
                <h2 class="title-page">Minha Conta</h2>
            </div> <!-- container //  -->
        </section>

        <section class="section-content padding-y">
            <div class="container">

                <div class="row">
                    <aside th:replace="layout :: navMinhaContaProfissional">
                    </aside>

                    <main class="col-md-9" th:object="${profissional}">

                        <article class="card">
                            <div class="card-body">
                                <div id='div-agenda-eventos' th:data-id="*{id}"></div>
                            </div>
                        </article>

                    </main>
                </div>

            </div>
        </section>

        <!-- MODAL -->
        <div id="modalAgenda" class="modal " tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="formAgenda" th:action="@{/conta-profissional/agenda/(formAgenda)}" th:object="${agenda}" method="post">
                        <div class="modal-body">
                            <div class="col-md-12">
                                <div class="form-row">
                                    <input type="hidden" id="agendaId" class="form-control" th:field="*{id}">
                                    <input type="hidden" id="agendaProfissionalId" class="form-control" th:field="*{profissional.id}">
                                    <div class="col-lg-12 form-group">
                                        <label>Titulo</label>
                                        <input type="text" id="txtTitulo" class="form-control" th:field="*{titulo}" >
                                    </div>
                                    <div class="col form-group">
                                        <label>Data Inicio</label>
                                        <input type="datetime-local" id="dataInicio" class="form-control" th:field="*{dataInicio}">
                                    </div>
                                    <div class="col form-group">
                                        <label>Data Final</label>
                                        <input type="datetime-local" id="dataFinal" class="form-control" th:field="*{dataFinal}">
                                    </div>
                                    <div class="col-lg-12 form-group">
                                        <label>Descrição</label>
                                        <input type="text" id="dataDescricao" class="form-control" th:field="*{descricao}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="button" id="delEvento" class="btn btn-danger">Deletar Evento</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div th:replace="layout :: footer">
    </div>
    
    <script th:src="@{/js/agendaEventos.js}"></script>
</body>

</html>