<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="layout :: htmlhead"></head>

<body>
    <header th:replace="layout :: header"></header>

    <!-- Page Content -->
    <div class="content container">
        <section class="sectionTitlePage">
            <div class="container">
                <h2 class="title-page">Minha Conta</h2>
            </div> <!-- container //  -->
        </section>

        <section class="section-content padding-y">
            <div class="container">

                <div class="row">
                    <aside  th:replace="layout :: navMinhaContaProfissional">
                    </aside> 
                    
                    <main class="col-md-9">

                        <article class="card">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-4">
                                        <figure class="itemside mb-4">
                                            <div class="aside">
                                                <img src="#" class="border img-md">
                                            </div>
                                            <figcaption class="info">
                                                <a href="#" class="title">Uéliton Zimmerman</a>
                                                <br>
                                                <a href="#" class="btn btn-secondary btn-sm"> Enviar Mensagem </a>
                                                <a href="#" class="btn btn-danger btn-sm" data-toggle="tooltip" title=""
                                                    data-original-title="Remove from wishlist">
                                                    <i class="fas fa-heart"></i>
                                                </a>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="col-md-4">
                                        <figure class="itemside mb-4">
                                            <div class="aside">
                                                <img src="#" class="border img-md">
                                            </div>
                                            <figcaption class="info">
                                                <a href="#" class="title">Uéliton Zimmerman</a>
                                                <br>
                                                <a href="#" class="btn btn-secondary btn-sm"> Enviar Mensagem </a>
                                                <a href="#" class="btn btn-danger btn-sm" data-toggle="tooltip" title=""
                                                    data-original-title="Remove from wishlist">
                                                    <i class="fas fa-heart"></i>
                                                </a>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="col-md-4">
                                        <figure class="itemside mb-4">
                                            <div class="aside">
                                                <img src="#" class="border img-md">
                                            </div>
                                            <figcaption class="info">
                                                <a href="#" class="title">Uéliton Zimmerman</a>
                                                <br>
                                                <a href="#" class="btn btn-secondary btn-sm"> Enviar Mensagem </a>
                                                <a href="#" class="btn btn-danger btn-sm" data-toggle="tooltip" title=""
                                                    data-original-title="Remove from wishlist">
                                                    <i class="fas fa-heart"></i>
                                                </a>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </main>
                </div>
            </div>
        </section>
    </div>

    <div th:replace="layout :: footer"></div>

</body>

</html>