<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="layout :: htmlhead"></head>

<body>
    <header th:replace="layout :: header"></header>

    <!-- Page Content -->
    <div class="content container">
        <section class="sectionTitlePage">
            <div class="container">
                <h2 class="title-page">Minha Conta</h2>
            </div> <!-- container //  -->
        </section>

        <section class="section-content padding-y">
            <div class="container">

                <div class="row">
                    <aside  th:replace="layout :: navMinhaContaCliente">
                    </aside> 
                    
                    <main class="col-md-9">

                        <article class="card mb-4">
                            <header class="card-header">
                                <a href="#" class="float-right"> <i class="fa fa-print"></i> Imprimir</a>
                                <strong class="d-inline-block mr-3">Orçamento ID: 298334</strong>
                                <span>05/11/2020</span>
                            </header>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h6 class="text-muted">Endereço de Atendimento</h6>
                                        <p>Gabriel Filippi <br>
                                            Rua Xv de Novembro, 7115 - Vila Nova <br>
                                            Joinville/SC. CEP: 89237-000
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="text-muted">Pagamento</h6>
                                        <span class="text-success">
                                            <i class="fab fa-lg fa-cc-visa"></i>
                                            Visa **** 4216
                                        </span>
                                        <p>
                                            <b>Total</b> R$456,00
                                        </p>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <p class="title mb-0">Limpar Telhado </p>
                                                    <var class="price text-muted">R$456,00</var>
                                                </td>
                                                <td>
                                                    Profissional
                                                    <br>
                                                    Will John
                                                </td>
                                        </tbody>
                                    </table>
                                </div>
                                <button class="btn btn-default float-right">+ Detalhes</button>
                            </div>
                        </article>

                        <article class="card mb-4">
                            <header class="card-header">
                                <a href="#" class="float-right"> <i class="fa fa-print"></i> Imprimir</a>
                                <strong class="d-inline-block mr-3">Orçamento ID: 169349</strong>
                                <span>12/09/2020</span>
                            </header>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h6 class="text-muted">Endereço de Atendimento</h6>
                                        <p>Gabriel Filippi <br>
                                            Rua Sabia, 52 - Costa e Silva <br>
                                            Joinville/SC. CEP: 89220-030
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="text-muted">Pagamento</h6>
                                        <span class="text-success">
                                            <i class="fab fa-lg fa-cc-visa"></i>
                                            Visa **** 4216
                                        </span>
                                        <p>
                                            <b>Total</b> R$600,00
                                        </p>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <p class="title mb-0">Pintura Sacada </p>
                                                    <var class="price text-muted">R$600,00</var>
                                                </td>
                                                <td>
                                                    Profissional
                                                    <br>
                                                    Uéliton Zimmerman
                                                </td>
                                        </tbody>
                                    </table>
                                </div>
                                <button class="btn btn-default float-right">+ Detalhes</button>
                            </div>
                        </article>
                    </main>
                </div>
            </div>
        </section>
    </div>

    <div th:replace="layout :: footer"></div>

</body>

</html>