<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title th:text="${titulo}"></title>
    </head>
    <style>


        .container{
            width: 100%;
            min-height: 100%;
            height: auto;
        }

        .row{
            padding: 10px;
            margin: 5px;
        }

        .content{
            background-color: rgba(219, 219, 219, 0.966);
            width: 100%;
            min-height: 100%;
            height: auto;
        }

    </style>
    <body>
        <header>
            <h1>HomeService</h1>
        </header>

        <div class="container">
            <div class="row">
                <div class="content">
                    <p>Test</p>

                </div>

            </div>

        </div>

    </body>
</html>